h1{
	font-size: 65pt;
	font-family: DM Sherif Display;
}
h10{
	font-size: 30pt;
	text-align: center;
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}

ul{
	list-style-type: none;
	background-color: #ffffff;
	overflow: hidden;
}
ul li{
	float: left;
	text-align: center;
	font-size: 40pt;
}
ul li a{
	text-decoration: none;
	display: block;
	width: 200px;
	padding: 14px 15px;
	color: #000000;
	font-family: "Momo Signature", cursive;
  	font-weight: 400;
  	font-style: normal;
  	font-size: 20pt;


}	
h2{
	font-size: 40pt;
	font-family: cursive;
	text-align: center;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}




h3{
	font-size: 30pt;
 	font-family: "Stack Sans Headline", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 700;
  	font-style: normal;
  	text-align: center;
}
h4{
	font-size: 22pt;
	text-align: center;
	font-family: "Oswald", sans-serif;
 	font-optical-sizing: auto;
 	font-weight: 600;
 	font-style: normal;

}
p{
	font-size: 15pt;
	text-align: left;
	font-family: "Merriweather", serif;
 	font-optical-sizing: auto;
 	font-weight: 50;
  	font-style: normal;
  	font-variation-settings:
    "wdth" 100;
}
h5{
	font-size: 22pt;
	text-align: center;
	font-family: "Oswald", sans-serif;
 	font-optical-sizing: auto;
 	font-weight: 600;
 	font-style: normal;

}
.container{
	position: relative;
}
.overlay{
	position: absolute;
  	bottom: 8px;
  	right: 16px;

}